<!--
/**
 * @package Test_LoyaltyCardNumber
 * @author  Nguyet Nguyen <nguyetnt.it@gmail.com>
 */
-->
<form class="form form-loyalty-card-number"
      data-bind='attr: {id: "form-loyalty-card-number-" + getCode($parentContext)'
      method="post">
    <fieldset class="fieldset"></fieldset> <!-- make style, fieldset is not the last child-->
    <fieldset class="fieldset">
        <div class="field required">
            <label class="label">
                <span><!-- ko i18n: 'Loyalty Card Number'--><!-- /ko --></span>
            </label>
            <div class="control">
                <input class="input-text required-entry loyalty-card-number" type="text"
                       data-validate="{required:true, 'validate-alphanum':true}"
                       data-bind='attr: {id: "loyalty-card-number-" + getCode($parentContext),
                                    name: "loyalty-card-number-" + getCode($parentContext)}'
                       aria-required="true">
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset"></fieldset> <!-- make style, fieldset is not the last child-->
</form>